/coc
/configstore
/coreapps
/cubocore
/dconf
/Evernote
/goa-1.0
/gtk-3.0
/ibus
/nvim
/Postman
/pulse
/ranger
/spicetify
/spotify
/Thunar
/vlc
/xfce4
/yay
/3T
/Code - Insiders
/qBittorrent
/opera
/yarn

mimeapps.list
QtProject.conf
zoomus.conf
